<!-- Contact Section -->
<section id="contact" class="py-20 bg-gray-900 text-white">
    <div class="container">
      <div class="grid md:grid-cols-3 gap-12">
        <div>
          <h3 class="text-xl font-semibold mb-4">About Galaxki Engineering</h3>
          <p class="text-gray-300 text-sm">
            Galaxki is having state of art metrology inspection facility equipped with Carl Zeiss CMM, Contour tester, Surface Roughness tester & VMM inspection. <br>
            Galaxki is ready to invest to set up a MACHINING FACILITY based on business case offered by customer
          </p>
        </div>
        <div>
          <h3 class="text-xl font-semibold mb-4">Get Directions</h3>
          <div class="bg-gray-800 p-4 rounded-lg">
            <div class="h-40 bg-gray-700 rounded-lg">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.936306282761!2d73.8302781!3d18.6219344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b87d31cb72fd%3A0x167a81dcd209954!2sGalaxki%20Engineering!5e0!3m2!1sen!2sin!4v1735562308015!5m2!1sen!2sin"
                width="100%"
                height="100%"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-xl font-semibold mb-4">Contact</h3>
          <address class="text-gray-300 text-sm not-italic space-y-4">
            <p>
              Shop no.01, BGP 10-13,<br>
              Near Hotel Fern,<br>
              MIDC, Bhosari, Pune-411026
            </p>
            <p>
              Phone No: +91-9689362230&nbsp;/&nbsp;9021252620 / 7057658316 / 8767589201 (Lab)<br>
              Email: galaxki.engineering&#64;yahoo.com<br>
              galaxki.cmmlab&#64;gmail.com
            </p>
          </address>
        </div>
      </div>
    </div>
  </section>